<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="panel">
    <div id="remind-heading" class="panel-heading bg-gray-light">
        <h3 class="panel-title">消息提醒<span id="title-duty-name-remind" class="text-muted"> | </span></h3>
    </div>

    <div class="panel-body">
        <form th:id="'form_remind_input'+${remind?.id}" class="form-horizontal bord-btm">
            <input type="hidden" name="keyId" th:value="${remind?.id}">

            <div class="form-group">
                <label class="col-md-2 control-label">消息内容<i class="fa fa-asterisk txt-color-red"></i></label>
                <div class="col-md-8">
                    <div class="well" th:utext="${remind?.content}">Lorem ipsum dolor sit amet.</div>
                </div>
            </div>
        </form>
    </div>
    
</div>

</html>