<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>KEPLER</title>

	<!--Open Sans Font [ OPTIONAL ] -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">

	<!--Bootstrap Stylesheet [ REQUIRED ]-->
	<link th:href="@{../static/css/bootstrap.min.css}" rel="stylesheet" type="text/css">

	<!--Nifty Stylesheet [ REQUIRED ]-->
	<link th:href="@{../static/css/nifty.min.css}" rel="stylesheet" type="text/css">

	<!--Page Load Progress Bar [ OPTIONAL ]-->
	<link th:href="@{../static/plugins/pace/css/pace.min.css}" rel="stylesheet">

	<!--Magic Checkbox [ OPTIONAL ]-->
	<link th:href="@{../static/plugins/magic-check/css/magic-check.min.css}" rel="stylesheet">

	<!-- bootstrap-select -->
	<link th:href="@{../static/plugins/bootstrap-select/1.10.0/css/bootstrap-select.min.css}" rel="stylesheet">

	<!-- dialog -->
	<link th:href="@{../static/plugins/bootstrap-dialog/1.35.2/css/bootstrap-dialog.min.css}" rel="stylesheet">

	<!--bootstrap-tagsinput-->

	<!-- jqGrid -->
	<link th:href="@{../static/plugins/jqGrid/5.1.1/css/ui.jqgrid-bootstrap.css}" rel="stylesheet">

	<!--fontawesome-->
	<link th:href="@{../static/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet">

	<link th:href="@{../static/plugins/premium/line-icons/premium-line-icons.min.css}" rel="stylesheet">
	<link th:href="@{../static/plugins/premium/solid-icons/premium-solid-icons.min.css}" rel="stylesheet">

	<!-- ztree -->
	<link th:href="@{../static/plugins/ztree/3.5.24/css/metroStyle/metroStyle.css}" rel="stylesheet">

	<!--Select2 [ OPTIONAL ]-->
	<link th:href="@{../static/plugins/select2/css/select2.min.css}" rel="stylesheet">

	<!--Full Calendar [ OPTIONAL ]-->
	<link th:href="@{../static/plugins/fullcalendar/fullcalendar.min.css}" rel="stylesheet">
	<link th:href="@{../static/plugins/fullcalendar/nifty-skin/fullcalendar-nifty.min.css}" rel="stylesheet">

	<!--Summernote [ OPTIONAL ]-->
	<link th:href="@{../static/plugins/summernote/summernote.min.css}" rel="stylesheet">

	<!--app core-->
	<link th:href="@{../static/css/core/app-core.css?v=1.2.7}" rel="stylesheet">

	<!--def css-->
	<link th:href="@{../static/css/form.css?v=0.0.4}" rel="stylesheet">

	<!--地区选择-->
	<link th:href="@{../static/plugins/city-picker/css/city-picker.css}" rel="stylesheet">

	<!--tip工具-->
	<link th:href="@{../static/plugins/minimalTips/jquery.minimalTips.css}" rel="stylesheet">

	<!--开关样式checkbox-->
	<link th:href="@{../static/plugins/switchery/switchery.min.css}" rel="stylesheet">

	<!--layX窗口插件-->
	<link th:href="@{../static/plugins/layX/layx.min.css}" rel="stylesheet">

	<!--animate-css-->
	<link th:href="@{../static/plugins/animate-css/animate.min.css}" rel="stylesheet">

</head>
<body>
</body>
</html>