<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="row bord-top pad-top">
    <div class="col-md-8 col-md-offset-2">

        <!--Bordered Accordion-->
        <!--===================================================-->
        <div class="panel-group accordion" id="acc-flow-process-log">
            <div class="panel panel-bordered panel-info" style="border-bottom: 1px solid #00bcd4">

                <!--Accordion title-->
                <div class="panel-heading" style="min-height: auto">
                    <h4 class="panel-title">
                        <a data-parent="#acc-flow-process-log" data-toggle="collapse" href="#acc-flow-process-log-1">流程记录</a>
                    </h4>
                </div>

                <!--Accordion content-->
                <div class="panel-collapse collapse in" id="acc-flow-process-log-1">
                    <div class="panel-body">

                        <div class="timeline">

                            <!-- Timeline header -->
                            <div class="timeline-entry" th:each="log : ${processLogList}">
                                <div class="timeline-stat">
                                    <div class="timeline-icon bg-info" th:if="${log?.operateType?.name()=='submit'}"><i class="fa fa-hdd-o fa-lg"></i></div>
                                    <div class="timeline-icon bg-info" th:if="${log?.operateType?.name()=='reSubmit'}"><i class="fa fa-circle-o-notch fa-lg"></i></div>
                                    <div class="timeline-icon bg-success" th:if="${log?.operateType?.name()=='approve'}"><i class="fa fa-smile-o fa-lg"></i></div>
                                    <div class="timeline-icon bg-warning" th:if="${log?.operateType?.name()=='back'}"><i class="fa fa-reply-all fa-lg"></i></div>
                                    <div class="timeline-icon bg-danger" th:if="${log?.operateType?.name()=='deny'}"><i class="fa fa-power-off fa-lg"></i></div>
                                    <div class="timeline-icon bg-warning" th:if="${log?.operateType?.name()=='withdraw'}"><i class="fa fa-level-down fa-lg"></i></div>
                                    <div class="timeline-time">
                                        <span th:text="${#dates.format(log?.createTime, 'yyyy-MM-dd HH:mm')}"></span>
                                    </div>
                                </div>
                                <div class="timeline-label">
                                    <div>
                                        <img class="img-xs img-circle" th:src="${log?.creator?.avatarId}" alt="Profile picture" />
                                        <a href="javascript:void(0)" class="btn-link text-semibold" th:text="${log?.creator?.name}">操作人</a>
                                        <span class="text-semibold" th:if="${log?.dutyName!=null && log?.dutyName!=''}" th:id="${log?.dutyId}" th:text="'( '+${log?.dutyName}+' )'"></span>
                                        <span class="text-bold text-muted" th:text="${log?.operateType?.value()}"></span>
                                    </div>
                                    <blockquote th:if="${log?.comment!=null}" class="mar-no" th:utext="${log?.comment}"></blockquote>
                                    <th:block th:if="!${#strings.isEmpty(log?.flowFileIds)}">
                                        <p><i class="fa fa-cloud-download"></i> 审批附件:</p>
                                        <div th:each="fileId : ${#strings.arraySplit(log?.flowFileIds, ',')}" data-title="flowFile" th:data-content-id="${fileId}" style='width: 50%'>[[${fileId}]]</div>
                                    </th:block>
                                </div>
                            </div>

                            <div class="timeline-header" th:if="${taskEntity?.processState.name()=='Finished'}">
                                <div class="timeline-header-title bg-info">结束</div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--===================================================-->
        <!--End Bordered Accordion-->

        <!--Bordered Accordion-->
        <!--===================================================-->
        <div class="panel-group accordion" id="acc-flow-process-user">
            <div class="panel panel-bordered panel-info" style="border-bottom: 1px solid #00bcd4">

                <!--Accordion title-->
                <div class="panel-heading" style="min-height: auto">
                    <h4 class="panel-title">
                        <a data-parent="#acc-flow-process-user" data-toggle="collapse" href="#acc-flow-process-user-1">当前流程操作人</a>
                    </h4>
                </div>

                <!--Accordion content-->
                <div class="panel-collapse collapse in" id="acc-flow-process-user-1">
                    <div class="panel-body">
                        <div class="label label-table label-success mar-btm" th:each="name : ${nextNames}" th:text="${name}"></div>
                    </div>
                </div>
            </div>
        </div>
        <!--===================================================-->
        <!--End Bordered Accordion-->

    </div>
</div>

<script th:inline="javascript">
    $(function(){
        var ids = "";
        $("div[data-title='flowFile']").each(function(){
            ids += $(this).attr("data-content-id")+",";
        });

        if(ids){
            __ajax_get(ctx+"main/file/fileList", {keyId : ids}, function(data){
                for(var i=0;i<data.data.length;i++){
                    var file = data.data[i];

                    var viewUrl = "";
                    if (isNotNull(file.type) && file.type.match(/image.*/)) {
                        viewUrl = ctx+"main/file/imgView?fileId="+file.id;
                    }else{
                        viewUrl = file.fileViewUrl;
                    }

                    $("div[data-content-id='"+file.id+"']").html("<div class=\"btn-group\" style='width: 100%'>\n" +
                        "<a target=\"_blank\" href=\""+file.filePath+"\" class=\"btn btn-default btn-sm text-overflow\" style='width: 80%;'><i class=\"fa fa-paperclip\"></i>  "+file.name+"</a>\n" +
                        "<button class=\"btn btn-default btn-sm dropdown-toggle dropdown-toggle-icon\" data-toggle=\"dropdown\" type=\"button\" aria-expanded=\"false\">\n" +
                        "<i class=\"dropdown-caret\"></i>\n" +
                        "</button>\n" +
                        "<ul class=\"dropdown-menu dropdown-menu-right\">\n" +
                        "<li><a target='_blank' href=\""+file.filePath+"\">下载</a></li>\n" +
                        "<li><a target='_blank' href=\""+viewUrl+"\">预览</a></li>\n" +
                        "</ul>\n" +
                        "</div>");
                }
            })
        }

    });
</script>

</html>