<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="panel">
    <div id="energyBill-heading" class="panel-heading bg-gray-light">
        <h3 class="panel-title">基本信息-能源账单<span id="title-duty-name-energyBill" class="text-muted"> | </span></h3>
    </div>

    <div class="panel-body">
        <form th:id="'form_energyBill_input'+${energyBill?.id}" class="form-horizontal bord-btm">
            <input type="hidden" name="keyId" th:value="${energyBill?.id}">
            <input type="hidden" name="flowDutyId">
            <input type="hidden" name="flowDutyName">

            <div class="form-group">
                <label class="col-md-2 control-label">名称<i class="fa fa-asterisk txt-color-red"></i></label>
                <div class="col-md-8">
                    <input disabled type="text" name="name" id="name" th:value="${energyBill?.name}" class="form-control" placeholder="名称">
                </div>
            </div>

        
            <div class="form-group">
                <label class="col-md-2 control-label">账单类型<i class="fa fa-asterisk txt-color-red"></i></label>
                <div class="col-md-8">
                    <input disabled type="text" name="energyTypeDictId" id="energyTypeDictId" th:value="${energyBill?.energyTypeDict.name}" class="form-control" placeholder="energyTypeDict">
                    </div>
            </div>
        
            <div class="form-group">
                <label class="col-md-2 control-label">账单月份<i class="fa fa-asterisk txt-color-red"></i></label>
                <div class="col-md-8">
                    <input disabled type="text" name="billDate" id="billDate" th:value="${#dates.format(energyBill?.billDate, 'yyyy-MM-dd')}" class="form-control" placeholder="billDate">
                    </div>
            </div>
        
            <div class="form-group">
                <label class="col-md-2 control-label">单价<i class="fa fa-asterisk txt-color-red"></i></label>
                <div class="col-md-8">
                    <input disabled type="text" name="price" id="price" th:value="${energyBill?.price}" class="form-control" placeholder="price">
                    </div>
            </div>
        
            <div class="form-group">
                <label class="col-md-2 control-label">使用量<i class="fa fa-asterisk txt-color-red"></i></label>
                <div class="col-md-8">
                    <input disabled type="text" name="useCount" id="useCount" th:value="${energyBill?.useCount}" class="form-control" placeholder="useCount">
                    </div>
            </div>
        
            <div class="form-group">
                <label class="col-md-2 control-label">总金额<i class="fa fa-asterisk txt-color-red"></i></label>
                <div class="col-md-8">
                    <input disabled type="text" name="totalAmount" id="totalAmount" th:value="${energyBill?.totalAmount}" class="form-control" placeholder="totalAmount">
                    </div>
            </div>
        
            <div class="form-group">
                <label class="col-md-2 control-label">条形码<i class="fa fa-asterisk txt-color-red"></i></label>
                <div class="col-md-8">
                    <input disabled type="text" name="barcode" id="barcode" th:value="${energyBill?.barcode}" class="form-control" placeholder="barcode">
                    </div>
            </div>
        
            <div class="form-group">
                <label class="col-md-2 control-label">备注<i class="fa fa-asterisk txt-color-red"></i></label>
                <div class="col-md-8">
                    <input disabled type="text" name="remark" id="remark" th:value="${energyBill?.remark}" class="form-control" placeholder="remark">
                    </div>
            </div>
                    
        </form>
    </div>
</div>

<script th:inline="javascript">

    var keyId_energyBill = [[${energyBill?.id}]];
    var flowData_energyBill = {
        keyId : keyId_energyBill ? keyId_energyBill : "create",
        formId : "form_energyBill_input"+[[${energyBill?.id}]],
        path : "com.hanqian.kepler.core.entity.primary.education.EnergyBill",
        titleId : "title-duty-name-energyBill"
    };
    var $form = $("#"+flowData_energyBill.formId);

    $(function(){


        __flow_duty_handle(flowData_energyBill);
        __flow_button_read_handle(flowData_energyBill, fn_energyBill_approve, fn_energyBill_back, fn_energyBill_deny, fn_energyBill_edit, fn_energyBill_withdraw);
    });

    function fn_energyBill_approve(){
        __confirm_dialog("", "确定通过审批吗？", function(dialogRef){
            __form_save(flowData_energyBill.formId, "/energyBill/approve", function(data){
                if(data && data.state === 1){
                    dialogRef.close();
                    __flow_close_layx(flowData_energyBill);
                }
            })
        });
    }

    function fn_energyBill_back(){
        __confirm_dialog("", "确定退回吗？", function(dialogRef){
            __form_save(flowData_energyBill.formId, "/energyBill/back", function(data){
                if(data && data.state === 1){
                    dialogRef.close();
                    __flow_close_layx(flowData_energyBill);
                }
            })
        });
    }

    function fn_energyBill_deny(){
        __confirm_dialog("", "确定否决吗？", function(dialogRef){
            __form_save(flowData_energyBill.formId, "/energyBill/deny", function(data){
                if(data && data.state === 1){
                    dialogRef.close();
                    __flow_close_layx(flowData_energyBill);
                }
            })
        });
    }

    function fn_energyBill_edit(){
        __flow_close_layx(flowData_energyBill);
        __layX_html_read(flowData.keyId, "基本信息-能源账单", "/energyBill/input?keyId="+flowData_energyBill.keyId);
    }

    function fn_energyBill_withdraw(){
        __confirm_dialog("", "确定撤回吗？", function(dialogRef){
            __form_save(flowData_energyBill.formId, "/energyBill/withdraw", function(data){
                if(data && data.state === 1){
                    dialogRef.close();
                    __flow_close_layx(flowData_energyBill);
                }
            })
        });
    }

</script>

</html>